body{
    border: 4px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
}

a{
    color: black;
    font-size: 30px;
    margin-right: 40px;
    text-decoration: none;
}

nav{
    text-align: center;
    background-color: rgb(86, 193, 236);
    border-radius: 10px;
}

.hello{
    text-align: center;
    background-color: skyblue;
    height: 200px;
    margin-top: 10px;
    border-radius: 15px;
}
#hello{
    font-size:50px;
    color: rgb(9, 138, 224);
}
#hello-p{
    color: darkcyan;
}

h3{
    color: rgb(86, 193, 236);
}

.images{
    display:inline-block;
    border-radius: 35px;
    box-shadow: 4px, 4px solid black;
}

.images :hover{
    width: 500px;
}

.epic{
    background-color: white;
    width:250px;
    display:inline-block;
    border-radius: 15px;
}

button{
    background-color: skyblue;
    width: 300px;
    height: 100px;
    font-size: 25px;
}
form{
    font-size: 30px;
    border: 4px solid black;
}